*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: roboto;
}
 #shoheuken{
  background-color: black;
  color: orange;
  padding: 5px;
 }
 
.hidden {
  display: none;
}
.instructions{
  font-size: 2em;
  color: red;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.level-setting{
  position: absolute;
  margin: auto;
  top: 31%;
  height: 500px;
  width: 600px;
  border-radius: 10px;
  background-color: white;
  z-index: 9;
  text-align: center;
  border-style: solid;
}

.multiples-setting{
  position: absolute;
  margin: auto;
  top: 31%;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-color: yellow;
  z-index: 10;
  text-align: center;
  border-style: solid;
}

.level-setting .btn, .multiples-setting .btn{
  margin: 5px 0;
}

table{
margin-top: 2%;
}

.start-box{
  position: absolute;
  margin: auto;
  top: 31%;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-color: white;
  z-index: 9;
  text-align: center;
  border-style: solid;
}
.start-text{
  position: relative;
  top: 5%;
  font-size: 1.5em;
}
.start-button{
  position: absolute;
  top: 80%;
  font-size: 25px;
  width: 80%;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.countDownTimer{
  position: absolute;
  margin: auto;
  z-index: 10;
  font-size: 500px;
}

.finalBox{
  position: absolute;
  margin: auto;
  top: 31%;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-color: white;
  z-index: 9;
  text-align: center;
  border-style: solid;
}
.finalTextBox{
  position: relative;
  top: 25%;
  font-size: 2em;
}

.main-container{
  width: 100%;
  height: 100vh;
  background: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.title-box{
  margin-bottom: 25px;
  text-align: center;

}
.main-box{
  width: 400px;
  height: 400px;
  background: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.score-board{
  width: 100%;
  margin-top: 5%;
}

table{
  width: 100%;
  text-align: center;
}

.heading{
  font-size: 15px;
}

#current-score, #current-mistake, #timer{
  font-size: 25px;
  font-weight: 600;

}

.display-problems{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin: 50px 0;
  letter-spacing: 2px;
}

.display-problems-two{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin: 25px 0;
  letter-spacing: 2px;
}
.line{
  width: 112px;
  height: 47px;
  border-bottom: 5px solid black;
  }

.fraction-choice{
  text-align: center;
  font-size: 2em;
  color: white;
  margin: 0;
  text-shadow: 2px 2px black;
  }

.input-box{
  position: relative;
  height: 50px;
  width: 150px;
  font-size: 50px;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  margin: auto;
  display: block;
}

.animate-right{
  color: limegreen;
  transform: scale(1.5);
}

.animate-wrong{
  color: red;
  transform: scale(1.5);
}

.animate-wrong-container{
  background-color: red;
}

.mistakesCount{
  color: red;
  font-weight: strong;
}

.secondUnitMeasurement{
  position: relative;
  font-weight: bold;
  font-size: 40px;
  bottom: 50px;
}

.settingButton{
 width: 100px;
}