
.container{
  margin-top: 10px;
}

h1{
  color: #00587a;
  text-decoration: underline overline;
  }
html{
  scroll-behavior: smooth;
}
table th{
        border: 1px solid black;
        }
table{
  border-collapse: collapse;
  text-align: center;
  }
.table-content tr:hover {
          background-color: #fcf876;
          }
a:hover{
        color: blue;
        }
body{
      background-color: #e8ffff;
      }
.crown{
      height: 50px;
      }
.content{
         max-width: 500px;
         margin: auto;
        }
.table-content th{
               background-color:  #00587a;
               color: yellow;
               }
.table-content th,
.table-content td{
                  padding: 12px 5px;
                  }
.table-content2 td{
              padding: 12px; 
             }
.table-content{
  margin-left: auto;
  margin-right: auto;
}

.zoom:hover{
  transform: scale(1.1);
}
.zoom{
  font-weight: bold;
}

.crown:hover{
  transform: scale(1.2);
}
/* title */
#title{
  background-image: url(../images/puzzles.jpg);
  margin: 1% 20.75% 3%;
  text-align: center;
  padding-top: 3%;
}
.display-4{
  color: white;
  font-weight: bold;
}

/* navigation bar */
.navbar-style{
 margin-top: 20px;
}

.nav-button{
margin: 0 5px;
}
.rules-navbar{
  position: fixed;
  background-color: #e8e9a1;
}

.navbar-brand {
  color: black !important;
  font-weight: bold;
}

.nav-link{
  color: #e5707e;
}

/* images from rules.html ctrl+K+U */
.rules{

  width: 80%;
  border-style: solid;
}
.img_overlapping_value{
 width: 40%;
 border-style: solid;
}

.comparison{
  width: 40%;
  border-style: solid;
}

.img_overlapping_value_decimals{
  width: 40%;
  border-style: solid;
}
.img_3_identities{
  width: 40%;
  border-style: solid;
}
.img_s2n, .img_f2d{
  width: 40%;
  border-style: solid; 
}

/* Sequence-section */
.sequences-section{
  text-align: center;
  margin-bottom: 1%;
}

.h2-sequence-section{
  margin-top: 3%;
  margin-bottom: 3%;
}

/* Exam paper section */
.exam-papers{
  text-align: left;
  margin: 100px 0;
}

/* Media-Query */
@media (max-width: 1000px){
  .rules{
    width: 1000px;
  }
  .comparison{
    width: 1000px;
  } 
  .excess-and-shortage{
    width: 1000px;
  }
  .img_overlapping_value{
    width: 1000px;
  }
  .img_overlapping_value_decimals, .img_3_identities, .img_s2n, .img_f2d{
    width: 1000px;
  }
}